
Digital Technologies - Digital Solutions/challenge1/foo.py
Digital Technologies - Digital Solutions/challenge1/tempCodeRunnerFile.py
temp_space/foo.py
.vscode/settings.json
.foo/tempCodeRunnerFile.py
.foo/foo.py
.foo/tempCodeRunnerFile.py
